Repository kennarddh/reactjs-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix

docs: Update readme
  README.md
Due: prettier -w

feat: Remove global env #106
  src/env.d.ts
  vite.config.ts
Due: prettier -w, eslint --fix

chore: install vite-plugin-checker
  package-lock.json
  package.json
Due: none

chore: Use vite plugin checker
  vite.config.ts
Due: none

chore: Uninstall vite-plugin-eslint
  package-lock.json
  package.json
Due: none

feat: Remove all test and useless component
  src/App.test.tsx
  src/App.tsx
  src/Components/Button.test.tsx
  src/Components/Button.tsx
  src/Components/Types.ts
  src/Components/__snapshots__/Button.test.tsx.snap
Due: prettier -w, eslint --fix

chore: Update all deps
  package-lock.json
  package.json
Due: none

chore: Prettier plugin sort import
  .prettierrc
  package-lock.json
  package.json
Due: none

chore: Lint other files
  package.json
Due: none

style: Run prettier on index.tsx
  src/index.tsx
Due: prettier -w, eslint --fix

chore: Add pages alias vite
  vite.config.ts
Due: none

chore: Fix vite config checker
  vite.config.ts
Due: none

style: Add new line vite config
  vite.config.ts
Due: none

chore: Only enable vite plugin checker in development mode
  vite.config.ts
Due: none

chore: Change prettier import order config
  .prettierrc
  vite.config.ts
Due: none

chore: Eslint disable line no mixed spaces and tabs vite config
  vite.config.ts
Due: none

chore: Update deps
  package-lock.json
  package.json
Due: none

chore(deps): Update all
  package-lock.json
  package.json
Due: none

chore(deps): Uninstall @types/styled-components
  package-lock.json
  package.json
Due: none

chore: Update prettierrc to inclue plugins
  .prettierrc
Due: none

style: Run prettier
  index.html
  jest.config.ts
  src/index.tsx
Due: prettier -w, eslint --fix

chore: Remove test,jest and babel
  .eslintrc.js
  babel.config.js
  jest.config.ts
  jest.setup.ts
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.node.json
Due: none

docs: Remove test, jest and babel
  README.md
  src/index.tsx
Due: prettier -w, eslint --fix

chore: Remove lint staged pre commit quiet
  package.json
Due: none

chore: Install types node
  package-lock.json
  package.json
  tsconfig.node.json
  vite.config.ts
Due: none

chore: Prettier and eslint changes
  .eslintrc.js
  package.json
  vite.config.ts
Due: none

chore: Empty pre push
  package.json
Due: none

feat: CJS eslint config
  .eslintrc.cjs
Due: none

feat: Module for vite 5
  package.json
Due: none

chore: Bump deps
  package-lock.json
  package.json
Due: none

chore: Remove pre-commit and lint-staged npm command
  package.json
Due: none

chore: Change lint staged command name
  package.json
Due: none

docs: Lint staged command
  README.md
Due: prettier -w

docs: Update commands
  README.md
Due: prettier -w

chore: Remove pre commit and pre push by default
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: none

docs: Update readme notes
  README.md
Due: prettier -w

chore: Commit git corrupted changes
  .gitignore
  eslint.config.ts
  eslint.d.ts
  package-lock.json
  package.json
  tsconfig.eslint.json
  tsconfig.node.json
  vite.config.ts
Due: none

chore: Remove old eslint config
  .eslintrc.cjs
Due: none

chore: Remove keywords
  package.json
Due: none

Path conditions:
  prettier -w: (any of: src/**/*.{ts,tsx,json}) or (any of: *.md)
  eslint --fix: any of: src/**/*.{ts,tsx,json}
